<% if @current_user.present? %>
    <h2>Welcome <%= @current_user.email %>!</h2>

    <h3>Your teams:</h3>
    <% @current_user.teams.each do |team| %>
    <p>
        <%= link_to team.name, team_path(team.id) %>
    </p>
    <% end %>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    </div>

<% end %>