<% if @current_user.present? %>
    <h2>Welcome <%= @current_user.email %>!</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <% @current_user.teams.each do |team| %>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><%= team.name %></h5>
                        <ul class="card-text">
                            <% team.players.each do |player| %>
                            <li><%= player.name %></li>
                            <% end%>
                        </ul>
                        
                        <a href="<%= team_path(team.id) %>" class="btn btn-outline-danger">View</a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="d-grid gap-2 col-6 mt-4 mx-auto">
        <a href="/teams/new" class="btn btn-danger btn-lg">Create New Team</a>
    </div>

<% end %>