.container {
    padding-top: 2em;
    margin: 0 auto;
}

.navbar {
    background-color: #19204e;
    font-family: 'Rubik', sans-serif;
    font-size: large;
}

.login {
    color: red;
    &:hover {
        color:white;
    }
}

.logo {
    font-family: 'Bungee Shade', cursive;
    font-size: xx-large;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}